<h2>About Me</h2>
<p>Hey there! My name is Gökhan. I'm a software engineer. </p>
<hr />

<p>I have been developing software applications since my High school years.
  I started to working as a software enginneer in 2016 especially Backend Development</p>
<hr />

<p>I live in Istanbul, Turkey. I am a fan of technology, programming, and writing.</p>


<ul class="fa-ul main-list">
  <li class="main-list-item">
     You can follow me on <a href="https://github.com/g-khan"><span class="fa fa-github fa-lg "></span> Github
      </a> / <a href="https://twitter.com/g_khana"><span class="fa fa-twitter "></span> Twitter </a>
  </li>
  <li class="main-list-item">
    You can read my articles on <a href="https://gokhana.medium.com"><span class="fa fa-link"></span> Medium</a>
    
  </li>
  <li class="main-list-item">
      You can send me a message on
      <a class="line" target="_blank" href="mailto:gkhan.a.06@gmail.com"><span class="fa fa-envelope fa-lg "></span>
        E-mail</a>
  </li>
</ul>